module Examples
  module <%= name.classify.pluralize %>
    class BasicComponent < Base
      def title
        "<%= name.classify %>"
      end

      def example
        <%= name.classify %> do
          "<%= name.classify %>"
        end
      end
    end
  end
end
