module Examples
  module <%= name.classify.pluralize %>
    class ShowView < BaseView
      def view_template
        title do
          "<%= name.classify %>"
        end

        render_examples [
          BasicComponent
        ]
      end
    end
  end
end
