module Examples
  module <%= class_path.map(&:classify).map(&:pluralize).join('::') %>
    class <%= component_class_name %> < Base
      def title
        "<%= component_title %>"
      end

      def example
        <%= class_path.last.classify %> do
        end
      end
    end
  end
end
